@{
    ViewData["Title"] = "WordHeaven";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row column_title">
        <div class="col-md-12">
            <div class="page_title">
                <a asp-area="" asp-controller="Account" asp-action="AccountManagement">
                    <h2>Account Management</h2>
                </a>
            </div>
        </div>
    </div>
    <div class="row column1">
        <div class="col-md-6 col-lg-3">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <a asp-area="" asp-controller="Account" asp-action="ChangePersonalInformation">
                            <i class="fa fa-user yellow_color"></i>
                        </a>
                    </div>
                </div>
                <div class="counter_no">
                    <div>
                        <a asp-area="" asp-controller="Account" asp-action="ChangePersonalInformation">
                            <p class="total_no">Personal Information</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <a asp-area="" asp-controller="Account" asp-action="ChangePassword">
                        <i class="fa fa-lock blue1_color"></i>
                        </a>
                    </div>
                </div>
                <div class="counter_no">
                    <div>
                        <a asp-area="" asp-controller="Account" asp-action="ChangePassword">
                        <p class="total_no">Change Password</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

