@model WordHeaven_Web.Models.Users.ChangePasswordViewModel
@{
    ViewData["Title"] = "WordHeaven";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<Center>
    <div class="row">
        <h2 style="color:cadetblue;">Change Password</h2>
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <br />
            <div class="form-group">
                <label asp-for="OldPassword" style="color:darkcyan;">Introduce your Old Password</label>
                <input asp-for="OldPassword" type="password" class="form-control" style="width: 391px; text-align: left"/>
                <span asp-validation-for="OldPassword" class="text-warning"></span>
                <br />
                <label asp-for="NewPassword" style="color:darkcyan;">Introduce your New Password</label>
                <input asp-for="NewPassword" type="password" class="form-control" style="width:391px;text-align:left" />
                <span asp-validation-for="NewPassword" class="text-warning"></span>
                <br />
                <label asp-for="ConfirmNewPassword" style="color:darkcyan;">Please Confirm your New Password</label>
                <input asp-for="ConfirmNewPassword" class="form-control" type="password" style="width:391px;text-align:left" />
                <span asp-validation-for="ConfirmNewPassword" class="text-warning"></span>
            </div>
            <br />
            <div class="text-success">
                <p style="color:chartreuse">@ViewBag.Message </p>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="background-color: cadetblue;width:250px;height:35px;font:bold;border-color: cadetblue; color: floralwhite">
                    <i class="fa fa-save" style="color:floralwhite;"></i>  Save
                </button>
                <a asp-controller="Account" asp-action="AccountManagement" class="btn btn-primary" style="background-color: darkorange;width:250px;height:35px;border-color:darkorange; color: floralwhite">
                    <i class="fa fa-arrow-left" style="color:floralwhite;"></i>  Cancel
                </a>
            </div>
        </form>
    </div>
</Center>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
