@{
    ViewData["Title"] = "NotAuthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <br />
    <br />
    <br />
    <br />
    <h2 style="color:firebrick; font-size: 40px;">You are not authorize to view this page.</h2>
    <br />
    <br />
    <h3 style="color: firebrick; font-size: 35px;">Please, go back.</h3>
    <br />
    <br />
    <br />
    <a asp-action="Login" class="btn btn-success"><i class="fa fa-chevron-left"></i> Login</a>
</center>