@model WordHeaven_Web.Models.Users.RecoverPasswordViewModel
@{
    ViewData["Title"] = "WordHeaven";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<Center>
    <div class="row">
        <h2 style="color:white;">Recover Password</h2>
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <br />
            <div class="form-group">
                <label asp-for="Email" style="color:white;">What´s your e-mail account?</label>
                <br />
                <input asp-for="Email" class="form-control" style="text-align:center;width:500px" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div class="text-success">
                <p>@ViewBag.Message </p>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="background-color:#e75e8d;width:220px;height:35px;font:bold;border-color:#e75e8d;">
                    <i class="fa fa-arrow-up" style="color:white;"></i>  Recover Password
                </button>
                <a asp-controller="Account" asp-action="Login" class="btn btn-primary" style="background:#bd5bcc;width:220px;height:35px;border-color:#bd5bcc;">
                    <i class="fa fa-arrow-left" style="color:white;"></i>  Back to Login
                </a>
            </div>
        </form>
    </div>
</Center>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}