@model WordHeaven_Web.Models.Users.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<Center>
    <div class="row">
        <h2 style="color:chocolate;">Reset your Password</h2>
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <br />
            <div class="form-group">
                <label asp-for="Email" style="color:lightseagreen;">Introduce your Email</label>
                <input asp-for="Email" class="form-control" style="width:391px;text-align:left" />
                <span asp-validation-for="Email" class="text-warning"></span>
                <br />
                <label asp-for="NewPassword" style="color:lightseagreen;">Introduce yout New Password</label>
                <input asp-for="NewPassword" type="password" class="form-control" style="width:391px;text-align:left" />
                <span asp-validation-for="NewPassword" class="text-warning"></span>
                <br />
                <label asp-for="Confirm" style="color:lightseagreen;">Please Confirm your New Password</label>
                <input asp-for="Confirm" class="form-control" type="password" style="width:391px;text-align:left" />
                <span asp-validation-for="Confirm" class="text-warning"></span>
            </div>
            <br />
            <div class="text-success">
                <p style="color:chartreuse">@ViewBag.Message </p>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="background-color:cadetblue;width:220px;height:35px;font:bold;border-color:cadetblue;color:whitesmoke;">
                    <i class="fa fa-arrow-up" style="color:whitesmoke;"></i>  Recover Password
                </button>
                <a asp-controller="Account" asp-action="Login" class="btn btn-primary" style="background-color: cornflowerblue;width:220px;height:35px;border-color:cornflowerblue;color:whitesmoke;">
                    <i class="fa fa-arrow-left" style="color:whitesmoke;"></i>  Back to Login
                </a>
            </div>
        </form>
    </div>
</Center>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}