@model WordHeaven_Web.Models.Reservation.AddReservationViewModel
@{
    ViewData["Title"] = "MakeReservation";
}

<h1 style="color:indianred">Make Client Reservation</h1>

<div class="row">

    <div class="col-md-4">
        <form asp-action="MakeReservation">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="BookId" class="control-label">Book</label>
                <select asp-for="BookId" asp-items="Model.Books" class="form-control"></select>
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookCoverId" class="control-label">Depart City</label>
                <select asp-for="BookCoverId" asp-items="Model.Books" class="form-control"></select>
                <span asp-validation-for="BookCoverId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserName" class="control-label">Quantity Of Travels/Month</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

           <div class="form-icons">
               <input asp-for="LoanedBook" class="form-control" value="" placeholder="Loan Date" type="date" />
           </div>

            <div class="form-icons">
                <input asp-for="LoanedBook" class="form-control" value="" placeholder="Return Date" type="date" />
            </div>

            <div class="form-group">
                <label asp-for="storeId" class="control-label">Store</label>
                <select asp-for="storeId" asp-items="Model.Stores" class="form-control"></select>
                <span asp-validation-for="storeId" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsBooked" /> @Html.DisplayNameFor(model => model.IsBooked)
                </label>
            </div>

            <div class="form-group" style="margin-bottom: 50px;">
                <button type="submit" value="Create" class="btn btn-primary" style="background-color: cadetblue">
                    <i class="fa fa-book" style="color: whitesmoke"></i> Create |
                </button>
                <a asp-action="Create" style="font-size: 20px; color:darkgoldenrod;">Go back</a>
            </div>
        </form>
    </div>

</div>
