@model List<WordHeaven_Web.Models.Reservation.AlterStatusReservationViewModel>
@{
    ViewData["Title"] = "ModifyReservation";
}

<h1 style="color: cadetblue">Manage Client Reservation</h1>
<br />
<br />
<div class="row">

    <form asp-action="Modifyreservation">
        <div as="validation-summary" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="FirstOrDefault().ClientUserName" class="text-bg-info"></label>
            <p asp-for="Model.FirstOrDefault().ClientUserName" class="form-control"></p>
        </div>

        <div class="form-group">
            <label asp-for="FirstOrDefault().StoreName" class="text-bg-info"></label>
            <p asp-for="Model.FirstOrDefault().StoreName" class="form-control"></p>
        </div>

        <div class="form-check">
            <input asp-for="FirstOrDefault().BookAsReturned" class="form-check-input" />
            <label asp-for="FirstOrDefault().BookAsReturned" class="form-check-label"></label>
        </div>

        <div class="form-check">
            <input asp-for="FirstOrDefault().DidntReturnTheBook" class="form-check-input" />
            <label asp-for="FirstOrDefault().DidntReturnTheBook" class="form-check-label"></label>
            @if (Model.FirstOrDefault().DidntReturnTheBook == true && Model.FirstOrDefault().ClientPayedTaxes == false)
            {
                <a asp-action="SendResponsabilizationEmail">Send Responsabilization Email</a>
            }
        </div>

        <div class="form-check">
            <input asp-for="FirstOrDefault().RenewTime" class="form-check-input" />
            <label asp-for="FirstOrDefault().RenewTime" class="form-check-label"></label>
            @if (Model.FirstOrDefault().RenewTime == true)
            {
                <a asp-action="SendRenewalEmail">Send Renewal Email</a>
            }
        </div>

        <div class="form-check">
            <input asp-for="FirstOrDefault().ClientPayedTaxes" class="form-check-input" />
            <label asp-for="FirstOrDefault().ClientPayedTaxes" class="form-check-label"></label>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" style="background-color: cadetblue">
                <i class="fa fa-plane-departure" style="color: whitesmoke"></i> Save
            </button>
            <a asp-action="Index" class="btn btn-success" style="font-size: 15px; color: darkgoldenrod">Back to List</a>
        </div>
    </form>

</div>