@model WordHeaven_Web.Data.Entity.Store

@{
    ViewData["Title"] = "WordHeaven";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2 style="color:darkcyan">Edit Store @Html.DisplayFor(model => model.Name) Data</h2></center>
<center><p style="color:chartreuse">@ViewBag.Message </p></center>
<br />
<form asp-action="Edit">
    <div class="text-center">
        <div class="row" style="color:darkorange;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br />
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <br />
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                    <br />
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                    <br />
                    <label asp-for="PostalCode" class="control-label"></label>
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                    <br />
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <br />
    <center>
        <div class="form-group">
            <button type="submit" value="Edit" class="btn btn-primary" style="background-color:darkkhaki;width:250px;height:35px;font:bold;border-color:darkolivegreen; color:floralwhite;">
                <i class="fas fa-save" style="color:floralwhite;"></i> Save
            </button>
            <a asp-action="Index" class="btn btn-success" style="background-color:darkgoldenrod;width:250px;height:35px;border-color:darkgoldenrod;color:antiquewhite">
                <i class="fa fa-chevron-left" style="color:antiquewhite;"></i> Back to List
            </a>
        </div>
    </center>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
