@{
    ViewData["Title"] = "BookNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
<br />
<br />
<br />
<br />
<h2 style="color:brown;">Book Not Found</h2>
<br />
<br />
<a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"></i> Back to List</a>
</center>