@model WordHeaven_Web.Models.Employees.EditEmployeeViewModel

@{
    ViewData["Title"] = "WordHeaven";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2 style="color: cadetblue">Edit Employee @Html.DisplayFor(model => model.EmployeeFullName) Data</h2></center>
<center><p style="color:chartreuse">@ViewBag.Message </p></center>
<br />
<form asp-action="Edit">
    <div class="text-center">
        <div class="row" style="color:black;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-sm"></div>
            <div class="col-sm">
                <div class="form-group">
                    <label asp-for="JobTitle" class="control-label"></label>
                    <input asp-for="JobTitle" class="form-control" />
                    <span asp-validation-for="JobTitle" class="text-danger"></span>
                    <br />
                    <label asp-for="Store" class="control-label"></label>
                    <select asp-for="StoreId" asp-items="Model.Stores" class="form-control"></select>
                    <span asp-validation-for="StoreId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
    <br />
    <center>
        <div class="form-group">
            <button type="submit" value="Edit" class="btn btn-primary" style="background-color:cadetblue;width:250px;height:35px;font:bold;border-color:cadetblue;color:floralwhite">
                <i class="fas fa-save" style="color:white;"></i> Save
            </button>
            <a asp-action="Index" class="btn btn-success" style="background-color:darkorange;width:250px;height:35px;border-color:darkorange;color:floralwhite">
                <i class="fa fa-chevron-left" style="color:white;"></i> Back to List
            </a>
        </div>
    </center>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
